      <!-- Clients Feedback -->
      <div class="row feedback text-center">
           <h3>CLIENTS FEEDBACK</h3>
           <hr>
            {% for imagen in imagenes %}
              <div class="col-xs-12 col-sm-3">
                <img class="img-responsive" src="{{ asset(imagen.getUrlClientes())}}" alt="client's picture">
                <h5>{{ imagen.getDescripcion() }}</h5>
                <q>{{ imagen.getCategoria() }}</q>
              </div>
            {% endfor %}
        </div>
      <!-- End of Clients Feedback --> 