{% extends 'base.html.twig' %}

{% block title %}Edit Asociado{% endblock %}

{% block body %}
    <h1>Edit Asociado</h1>

    {{ include('asociado/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_asociado_index') }}">back to list</a>

    {{ include('asociado/_delete_form.html.twig') }}
{% endblock %}
